/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-sep-04, 15:02:34
    Author     : DIKA
*/

.lagstatistik{
    display:none;
}
#tbTLContent {
  position: relative;
}

.team-stats .team-stat-row {
  padding: 6px 10px 6px 20px;
  font-size: 13px;
  line-height: 28px;
}

@media only screen and (max-width: 480px) {
  .team-stats .team-stat-row {
    padding: 6px 8px 6px 13px;
    line-height: 24px;
  }
}

.team-stats .team-stat-row .team-place,
.team-stats .team-stat-row .team-logo,
.team-stats .team-stat-row .team-team {
  float: left;
}

.team-stats .team-stat-row .team-place {
  width: 30px;
}

@media only screen and (max-width: 480px) {
  .team-stats .team-stat-row .team-place {
    width: 25px;
  }
}

.team-stats .team-stat-row .team-logo {
  padding-right: 15px;
}

@media only screen and (max-width: 480px) {
  .team-stats .team-stat-row .team-logo {
    padding-right: 10px;
  }
}

.team-stats .team-stat-row .team-logo img {
  height: 28px;
  display: block;
}

@media only screen and (max-width: 480px) {
  .team-stats .team-stat-row .team-logo img {
    height: 24px;
  }
}

.team-stats .team-stat-row .team-logo-cup {
  padding-right: 5px;
}

@media only screen and (max-width: 480px) {
  .team-stats .team-stat-row .team-logo-cup {
    padding-right: 5px;
  }
}

.team-stats .team-stat-row .team-prc,
.team-stats .team-stat-row .team-games,
.team-stats .team-stat-row .team-goals,
.team-stats .team-stat-row .team-points {
  float: right;
  width: 33px;
  text-align: center;
}

.team-stats .team-stat-row .team-tot,
.team-stats .team-stat-row .team-avg{
    float: right;
  width: 40px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
.team-stats .team-stat-row .team-prc,
    .team-stats .team-stat-row .team-games,
  .team-stats .team-stat-row .team-goals,
  .team-stats .team-stat-row .team-points {
    width: 28px;
  }
  
  .team-stats .team-stat-row .team-tot,
  .team-stats .team-stat-row .team-avg{
    width: 35px;  
  }
}

.team-stats .team-stat-row .team-matches {
  float: right;
}

@media only screen and (max-width: 480px) {
  .team-stats .team-stat-row .team-matches {
    display: block;
    clear: both;
    float: none;
  }
}

.team-stats .team-stat-row:nth-child(odd) {
  background-color: #ededed;
}

.team-stats .team-stat-row:first-child {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  padding: 6px 10px 0 20px;
}

@media only screen and (max-width: 480px) {
  .team-stats .team-stat-row:first-child {
    padding: 6px 8px 0 13px;
    font-size: 14px;
  }
}


